<div class="row" style="margin-top: 4rem">
  <table class="table">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">currency</th>
        <th scope="col">name</th>
        <th scope="col">date</th>
        <th scope="col">value</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let record of records">
        <th scope="row"></th>
        <td>{{ record.currency }}</td>
        <td>{{ record.name }}</td>
        <td>{{ record.date.toISOString() }}</td>
        <td>{{ record.value }}</td>
      </tr>
    </tbody>
  </table>
</div>
