<form (ngSubmit)="handleFormSubmittion()" #myForm="ngForm">
  <div class="form-group">
    <label for="currency">Currency code</label>
    <input
      type="text"
      class="form-control"
      id="currency"
      required
      name="currency"
      [(ngModel)]="formData.currency"
      placeholder="Currency code"
    />
  </div>
  <div class="form-group">
    <label for="name">Name</label>
    <input
      type="text"
      class="form-control"
      id="name"
      name="name"
      placeholder="Name"
      required
      [(ngModel)]="formData.name"
    />
  </div>
  <button type="submit" class="btn btn-primary" [disabled]="!myForm.valid">
    Submit
  </button>
</form>
